In [1]:
#tuples
# Python refers to values that cannot change as immutable, and an immutable list is called a tuple

In [2]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [3]:
name = ("hammad","sami","zia","ebad")

In [4]:
print(name)

('hammad', 'sami', 'zia', 'ebad')

In [5]:
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [6]:
# Looping Through All Values in a Tuple

In [7]:
for dimension in dimensions:
    print(dimension)

200
50

In [8]:
# Writing over a Tuple

In [9]:
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)

dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

In [10]:
dimensions

(400, 100)

In [16]:
name = ("hammad","sami")
for names in name:
    print(names)
print("orginal name")
name = ("ali","ibad")
for names in name:
    print(names)
print("not a orginal")

hammad
sami
orginal name
ali
ibad
not a orginal

In [17]:
fast_food = ("tikka","chiken_roll","beef_roll","behari_tikka","kabab")

In [18]:
print(fast_food)

('tikka', 'chiken_roll', 'beef_roll', 'behari_tikka', 'kabab')

In [19]:
for resturent in fast_food:
    print(resturent)

tikka
chiken_roll
beef_roll
behari_tikka
kabab

In [20]:
resturent[0] = "leg_tikka"

TypeError: 'str' object does not support item assignment

In [21]:
fast_food = ('leg_tikka', 'chiken_mayu_roll', 'beef_roll', 'behari_tikka', 'kabab')

In [22]:
for resturent in fast_food:
    print(resturent)

leg_tikka
chiken_mayu_roll
beef_roll
behari_tikka
kabab

In [23]:
# if Statements

In [24]:
# Pythonâ€™s if statement allows you to examine the current state of a program and respond appropriately to that state

In [25]:
# A Simple Example

In [26]:
cars = ["audi","bmw","subaru","toyota"]

In [29]:
for car in cars:
    if cars == "bmw":
        print(f"one of the best cars {bmw.upper()}")

In [31]:
for car in cars:
    if car == "bmw":
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

In [32]:
name = ["hammad","sami","ebad","zia"]
for names in name:
    if names == "ebad":
        print(names.upper())
    else:
        print(names.title())

Hammad
Sami
EBAD
Zia

In [33]:
car = 'bmw'
car == 'bmw'

True

In [34]:
car = "bmw"

In [35]:
car == "bmw"

True

In [36]:
car = 'audi'
car == 'bmw'

False

In [37]:
# Ignoring Case When Checking for Equality

In [38]:
# Testing for equality is case sensitive in Python. For example, two values with different capitalization are not considered equal

In [39]:
car = 'Audi'
car == 'audi'

False

In [40]:
car = 'Audi'
car.lower() == 'audi'

True

In [41]:
print(car)

Audi

In [43]:
# Checking for Inequality

In [46]:
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
 print("Hold the anchovies!")

Hold the anchovies!

In [47]:
# Numerical Comparisons

In [48]:
age = 18
age == 18

True

In [49]:
age = 16
if age !=18:
    print(f"you don't allow to cast the vote at the {age} plz come next time")

you don't allow to cast the vote at the 16 plz come next time

In [50]:
age = 18
age < 18

False

In [51]:
age = 18
age <= 18

True

In [52]:
age = 18
age > 18

False

In [53]:
age = 18
age >= 18

True

In [54]:
# Checking Multiple Conditions

In [55]:
# Using and to Check Multiple Conditions

In [57]:
age_0 = 18
age_1 = 20
if age_0 >=18 and age_1 <=10:
    pass
else:
    print("noting")

noting

In [58]:
age_0 = 18
age_1 = 20
if age_0 >=18 and age_1 <=300:
    pass
else:
    print("noting")

In [59]:
age_0 = 18
age_1 = 20
if (age_0 >=18) and (age_1 <=300):
    pass
else:
    print("noting")

In [61]:
age_0 = 18
age_1 = 20
if (age_0 >=18) or (age_1 <=0):
    pass
else:
    print("noting")

In [62]:
# Checking Whether a Value Is in a List

In [64]:
requested_toppings = ['mushrooms', 'onions', 'pineapple']
'mushrooms' in requested_toppings

True

In [65]:
'pepperoni' in requested_toppings

False

In [66]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'
if user not in banned_users:
    print(user.title() + ", you can post a response if you wish.")

Marie, you can post a response if you wish.

In [67]:
name = ["arsam","saqib","ahmed"]

In [68]:
user = "Talha"

In [73]:
if user not in name:
    print(user.title())

Talha

In [74]:
# Boolean Expressions

In [75]:
game_active = True
can_edit = False

In [76]:
game_active

True

In [82]:
user = ["hammad","ali",'salman',"younus"]
name = "salman"
if name == "salman":
    print("my prediction is true")
else:
    print("false")

my prediction is true

In [83]:
user = ["hammad","ali",'salman',"younus"]
name = "salman"
if name == "":
    print("my prediction is true")
else:
    print("false")

false

In [84]:
name = "hammad"
name == "hammad"

True

In [86]:
name = "Hammad"
name == "hammad"
print(name.title())

Hammad

In [95]:
age = 10
age_1 = 20

In [89]:
age > age_1

False

In [90]:
age >= age_1

False

In [91]:
age < age_1

True

In [92]:
age <= age_1

True

In [101]:
if age >= 10 and age_1 >=20:
    print("and operation")
else:
    print("practice")

and operation

In [103]:
if age >= 10 or age_1 >20:
    print("and operation")
else:
    print("practice")

and operation

In [110]:
age = 17
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")

In [111]:
# if-else Statements

In [112]:
age = 17
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")
else:
    print("Sorry, you are too young to vote.")
    print("Please register to vote as soon as you turn 18!")

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18!

In [113]:
# he if-elif-else Chain

In [114]:
# Many real-world situations involve more than two possible conditions

In [115]:
age = 12
if age < 4:
    print("Your admission cost is $0.")
elif age < 18:
    print("Your admission cost is $5.")
else:
    print("Your admission cost is $10.")

Your admission cost is $5.

In [116]:
age = 2
if age < 4:
    print("Your admission cost is $0.")
elif age < 18:
    print("Your admission cost is $5.")
else:
    print("Your admission cost is $10.")

Your admission cost is $0.

In [117]:
age = 22
if age < 4:
    print("Your admission cost is $0.")
elif age < 18:
    print("Your admission cost is $5.")
else:
    print("Your admission cost is $10.")

Your admission cost is $10.

In [121]:
age = 64
if age < 4:
    price = 0
elif age < 18:
    price = 5
elif age < 65:
    price = 10
else:
    price = 10
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $10.

In [122]:
# Omitting the else Block

In [124]:
age = 98
if age < 4:
    price = 0
elif age < 18:
    price = 5
elif age < 65:
    price = 10
elif age >= 65:
    price = 20
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $20.

In [125]:
# Testing Multiple Conditions

In [126]:
requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
    print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
    print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
    print("Adding extra cheese.")

print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [127]:
# Using if Statements with Lists

In [129]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']
for requested_topping in requested_toppings:
    if requested_topping == 'green peppers':
         print("Sorry, we are out of green peppers right now.")
    else:
        print("Adding " + requested_topping + ".")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we are out of green peppers right now.
Adding extra cheese.

Finished making your pizza!

In [130]:
# Checking That a List Is Not Empty

In [131]:
requested_toppings = []

In [136]:
if requested_toppings:
    for requested_topping in requested_toppings:
        print("Adding " + requested_topping + ".")
        print("\nFinished making your pizza!")
else:
    print("Are you sure you want a plain pizza?")

Are you sure you want a plain pizza?