In [1]:
# Introducing Lists
# In this chapter and the next you’ll learn what lists are and how to start working with the elements in a list. Lists allow you to store sets of information in one place,

In [2]:
# What Is a List?
# A list is a collection of items in a particular order. You can make a list that includes the letters of the alphabet, the digits from 0–9, or the names of all the people in your family. You can put anything you want into a list,and also any thing float boolean

In [3]:
# In Python, square brackets ([]) indicate a list, and individual elements in the list are separated by commas

In [4]:
integer_list = [1,2,3,4,5,6,7,8,9,10]

In [5]:
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
string_list = ["hammad","sami","ebad","zia"]

In [7]:
print(string_list)

['hammad', 'sami', 'ebad', 'zia']

In [8]:
float_list = [1.0,0.2,3.5,6.7]

In [9]:
print(float_list)

[1.0, 0.2, 3.5, 6.7]

In [10]:
boolean_list = [True,False,False,True]

In [11]:
print(boolean_list)

[True, False, False, True]

In [12]:
# Accessing Elements in a List
# Lists are ordered collections, so you can access any element in a list by telling Python the position, or index, of the item desired.

In [13]:
mixed_list = ["hammad",'sami',"saif",1,2,3,4,5,True,False,3.4,5.6]

In [14]:
print(mixed_list)

['hammad', 'sami', 'saif', 1, 2, 3, 4, 5, True, False, 3.4, 5.6]

In [15]:
print(mixed_list[0]) #indexing starting from zero

hammad

In [16]:
print(mixed_list[6])

4

In [17]:
print(mixed_list[7])

5

In [18]:
print(mixed_list[2].title())

Saif

In [19]:
print(mixed_list[0].upper())

HAMMAD

In [20]:
print(mixed_list[0].lower())

hammad

In [21]:
print(mixed_list[0].capitalize())

Hammad

In [22]:
print(mixed_list[-1])   #we use indexing in negative number but negative indexing start -1 not -0

5.6

In [23]:
print(mixed_list[-3])

False

In [24]:
print(mixed_list[-7])

3

In [25]:
# Using Individual Values from a List

In [26]:
message = "hello  " + mixed_list[0].title() + "how are you !"

In [27]:
print(message)

hello  Hammadhow are you !

In [28]:
message = "hello  " + mixed_list[0].lower() + " how are you !"

In [29]:
print(message)

hello  hammad how are you !

In [30]:
message = "hello  " + mixed_list[0].upper() + "how are you !"

In [31]:
print

In [32]:
print(message)

hello  HAMMADhow are you !

In [33]:
#Excersice

In [34]:
name = ["Talha","Saqib","zayn","waheed","shahroz"]

In [35]:
print(name[0],name[1],name[2],name[3],name[4])

Talha Saqib zayn waheed shahroz

In [36]:
print("hey " + str(name[0]) + " friend i know you are good")
print("hey " + str(name[1]) + " friend i know you are good")
print("hey " + str(name[2]) + " friend i know you are good")
print("hey " + str(name[3]) + " friend i know you are good")
print("hey " + str(name[4]) + " friend i know you are good")

hey Talha friend i know you are good
hey Saqib friend i know you are good
hey zayn friend i know you are good
hey waheed friend i know you are good
hey shahroz friend i know you are good

In [37]:
print("hey " + str(name) + " friend i know you are good")

hey ['Talha', 'Saqib', 'zayn', 'waheed', 'shahroz'] friend i know you are good

In [38]:
cricket = ["virat kholi","Baber azam"]
print("i like" + cricket[0] + " batting style love form india")
print("i like" + cricket[1] + " batting style love form pakistan")

i likevirat kholi batting style love form india
i likeBaber azam batting style love form pakistan

In [39]:
# Changing, Adding, and Removing Elements

In [40]:
# Modifying Elements in a List
# The syntax for modifying an element is similar to the syntax for accessing an element in a list. To change an element, use the name of the list followed by the index of the element you want to change, and then provide the new alue you want that item to have.

In [41]:
name = ["hammad","sami","ebad","zia"]

In [42]:
name[0] = "Ali"

In [43]:
print(name)

['Ali', 'sami', 'ebad', 'zia']

In [44]:
print(name[0])

Ali

In [45]:
# Adding Elements to a List
#appending method  .......the new element is added to the end of the list
#insert method   ..........You can add a new element at any position in your list by using the insert() method

In [46]:
print(name.append("hammad"))

None

In [47]:
name.append("hammad")

In [48]:
print(name)

['Ali', 'sami', 'ebad', 'zia', 'hammad', 'hammad']

In [49]:
#empty list
empty_list = []
empty_list.append("honda")
empty_list.append("suzuki")
empty_list.append("125")
empty_list.append("50 50")

In [50]:
print(empty_list)

['honda', 'suzuki', '125', '50 50']

In [51]:
empty_list.insert(0,"yamahai")

In [52]:
print(empty_list)

['yamahai', 'honda', 'suzuki', '125', '50 50']

In [53]:
empty_list.insert(2,150)

In [54]:
print(empty_list)

['yamahai', 'honda', 150, 'suzuki', '125', '50 50']

In [55]:
# Removing Elements from a List

In [56]:
# Removing an Item Using the del Statement

In [57]:
print(empty_list)

['yamahai', 'honda', 150, 'suzuki', '125', '50 50']

In [58]:
del empty_list [0]

In [59]:
print(empty_list)

['honda', 150, 'suzuki', '125', '50 50']

In [60]:
del empty_list [1]

In [61]:
print(empty_list)

['honda', 'suzuki', '125', '50 50']

In [62]:
# Removing an Item Using the pop() Method
# Sometimes you’ll want to use the value of an item after you remove it from a list

In [63]:
motor_cycle = empty_list.pop()

In [64]:
print(empty_list)

['honda', 'suzuki', '125']

In [65]:
print(motor_cycle)

50 50

In [66]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

In [67]:
print(motorcycles)

['honda', 'yamaha']

In [68]:
print(last_owned)

suzuki

In [69]:
# Popping Items from any Position in a List

In [70]:
# You can actually use pop() to remove an item in a list at any position by including the index of the item you want to remove in parentheses.

In [71]:
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Honda.

In [72]:
# If you’re unsure whether to use the del statement or the pop() method,here’s a simple way to decide: when you want to delete an item from a list and not use that item in any way, use the del statement; if you want to use an item as you remove it, use the pop() method.

In [73]:
#Removing an Item by Value

In [74]:
# ometimes you won’t know the position of the value you want to remove from a list. If you only know the value of the item you want to remove, you can use the remove() method

In [75]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [76]:
motorcycles.remove("suzuki")

In [77]:
print(motorcycles)

['honda', 'yamaha', 'ducati']

In [78]:
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha']

A Ducati is too expensive for me.

In [79]:
name = ["hammad","sami",'ebad']

In [80]:
print("hey " + name[0].title() + " you are invite to my birthday")

hey Hammad you are invite to my birthday

In [81]:
print("hey " + name[1].title() + " you are invite to my birthday")

hey Sami you are invite to my birthday

In [82]:
print("hey " + name[2].title() + " you are invite to my birthday")

hey Ebad you are invite to my birthday

In [83]:
name[0] = "Zia"

In [84]:
print("hey " + name[0].title() + " you are invite to my birthday")

hey Zia you are invite to my birthday

In [85]:
name.insert(1,"hammad")

In [86]:
name.insert(2,"saif")

In [87]:
name.insert(3,"tauseef")

In [88]:
print(name)

['Zia', 'hammad', 'saif', 'tauseef', 'sami', 'ebad']

In [89]:
print("hey " + name[0].title() + " you are invite to my birthday")
print("hey " + name[1].title() + " you are invite to my birthday")
print("hey " + name[2].title() + " you are invite to my birthday")
print("hey " + name[3].title() + " you are invite to my birthday")
print("hey " + name[4].title() + " you are invite to my birthday")
print("hey " + name[5].title() + " you are invite to my birthday")

hey Zia you are invite to my birthday
hey Hammad you are invite to my birthday
hey Saif you are invite to my birthday
hey Tauseef you are invite to my birthday
hey Sami you are invite to my birthday
hey Ebad you are invite to my birthday

In [90]:
print("\n only 2 prople invite in dinner")

 only 2 prople invite in dinner

In [91]:
name.pop()

'ebad'

In [92]:
name.pop()

'sami'

In [93]:
name.pop()

'tauseef'

In [94]:
name.pop()

'saif'

In [95]:
name.pop()

'hammad'

In [96]:
name

['Zia']

In [97]:
name.append("saif")

In [98]:
print("hey" + name[0].title() + "you are not invite to dinner")
print("hey" + name[1].title() + "you are not invite to dinner")

heyZiayou are not invite to dinner
heySaifyou are not invite to dinner

In [99]:
print("hey" + name[0].title() + "you are invite to dinner")
print("hey" + name[1].title() + "you areinvite to dinner")

heyZiayou are invite to dinner
heySaifyou areinvite to dinner

In [100]:
del name

In [101]:
# Sorting a List Permanently with the sort() Method
# Python’s sort() method makes it relatively easy to sort a list

In [102]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [103]:
cars.sort(reverse=True)  #reverse sort
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [104]:
# Sorting a List Temporarily with the sorted() Function

In [105]:
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['toyota', 'subaru', 'bmw', 'audi']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['toyota', 'subaru', 'bmw', 'audi']

In [106]:
name

NameError: name 'name' is not defined

In [107]:
print(sorted(name))

NameError: name 'name' is not defined

In [108]:
print(name)

NameError: name 'name' is not defined

In [109]:
# Printing a List in Reverse Order

In [110]:
cars.reverse()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [111]:
# Notice that reverse() doesn’t sort backward alphabetically; it simply reverses the order of the list:

In [112]:
# Finding the Length of a List

In [113]:
print(len(cars))

4

In [114]:
#excersic

In [115]:
visit = ["london","america","uk","australia","jermany"]

In [116]:
print(visit)

['london', 'america', 'uk', 'australia', 'jermany']

In [117]:
print(sorted(visit))

['america', 'australia', 'jermany', 'london', 'uk']

In [118]:
print(visit)

['london', 'america', 'uk', 'australia', 'jermany']

In [119]:
print(sorted(visit,reverse=True))

['uk', 'london', 'jermany', 'australia', 'america']

In [120]:
print(visit)

['london', 'america', 'uk', 'australia', 'jermany']

In [121]:
visit.sort()

In [122]:
print(visit)

['america', 'australia', 'jermany', 'london', 'uk']

In [123]:
visit.sort(reverse=True)

In [124]:
print(visit)

['uk', 'london', 'jermany', 'australia', 'america']

In [125]:
print(len(visit))

5

In [126]:
name = ["hammad","sami","ebad","zia"]

In [127]:
name.append("rehman")

In [128]:
print(name)

['hammad', 'sami', 'ebad', 'zia', 'rehman']

In [129]:
name.insert(1,"mueed")

In [130]:
name.insert(1,"mustafeez")

In [131]:
name.insert(1,"usman")

In [132]:
print(name)

['hammad', 'usman', 'mustafeez', 'mueed', 'sami', 'ebad', 'zia', 'rehman']

In [133]:
name[3] = "malk muhammad usman"

In [134]:
print(name)

['hammad', 'usman', 'mustafeez', 'malk muhammad usman', 'sami', 'ebad', 'zia', 'rehman']

In [135]:
a=name.pop()

In [136]:
print(name)

['hammad', 'usman', 'mustafeez', 'malk muhammad usman', 'sami', 'ebad', 'zia']

In [137]:
print(a)

rehman

In [138]:
b = name.remove("hammad")

In [139]:
print(b)

None

In [140]:
print(name)

['usman', 'mustafeez', 'malk muhammad usman', 'sami', 'ebad', 'zia']

In [141]:
del name [0]

In [142]:
print(name)

['mustafeez', 'malk muhammad usman', 'sami', 'ebad', 'zia']

In [143]:
print(sorted(name))

['ebad', 'malk muhammad usman', 'mustafeez', 'sami', 'zia']

In [144]:
print(name)

['mustafeez', 'malk muhammad usman', 'sami', 'ebad', 'zia']

In [145]:
name.sort()

In [146]:
print(name)

['ebad', 'malk muhammad usman', 'mustafeez', 'sami', 'zia']

In [147]:
print(name)

['ebad', 'malk muhammad usman', 'mustafeez', 'sami', 'zia']

In [148]:
name.sort(reverse=True)

In [149]:
print(name)

['zia', 'sami', 'mustafeez', 'malk muhammad usman', 'ebad']

In [150]:
name.reverse()

In [151]:
print(name)

['ebad', 'malk muhammad usman', 'mustafeez', 'sami', 'zia']

In [152]:
print(len(name))

5

In [153]:
# Avoiding Index Errors When Working with Lists

In [154]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[3])

IndexError: list index out of range

In [155]:
print(motorcycles[-1])

suzuki

In [156]:
# The only time this approach will cause an error is when you request the last item from an empty list:

In [157]:
list_=[]
print(list_[-1])

IndexError: list index out of range

In [158]:
# Looping Through an Entire List

In [159]:
magicians = ['alice', 'david', 'carolina']
# for magician in magicians:
print(magicians[0])

alice

In [160]:
print(magicians[1])

david

In [161]:
print(magicians[0]),print(magicians[1]),print(magicians[2])

alice
david
carolina

(None, None, None)

In [162]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)
#     print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
    
print("hammad")

alice
I can't wait to see your next trick, Alice.

david
I can't wait to see your next trick, David.

carolina
I can't wait to see your next trick, Carolina.

hammad

In [163]:
# Doing More Work Within a for Loop

In [164]:
print(magician.title() + ", that was a great trick!")

Carolina, that was a great trick!

In [165]:
# Avoiding Indentation Errors

In [166]:
# Forgetting to Indent

In [167]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
print(magician)

IndentationError: expected an indented block (<ipython-input-167-bc3e0c643e2b>, line 3)

In [168]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [169]:
# Indenting Unnecessarily After the Loop

In [170]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [171]:
# Forgetting the Colon
# The colon at the end of a for statement tells Python to interpret the next line as the start of a loop.

In [172]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians
 print(magician)

SyntaxError: invalid syntax (<ipython-input-172-f5c6132eabeb>, line 2)

In [173]:
pizza = ["tikka","fatija","afghani"]

In [174]:
for pizzas in pizza:
    print(pizzas)
    
print("what k")

tikka
fatija
afghani
what k

In [175]:
# Using the range() Function

In [176]:
for value in range(1,5):
    print(value)

1
2
3
4

In [177]:
for value in range(1,6):
    print(value)

1
2
3
4
5

In [178]:
# Using range() to Make a List of Numbers

In [179]:
# . We can use list() to convert that same set of numbers into a list:

In [180]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [181]:
#skip number in python and also called step

In [182]:
number = list(range(1,10,2))

In [183]:
print(number)

[1, 3, 5, 7, 9]

In [184]:
number = list(range(0,10,2))

In [185]:
print(number)

[0, 2, 4, 6, 8]

In [186]:
sq = []
for i in range(10):
    sqa = i **2
    sq.append(sqa)

In [187]:
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [188]:
cube = []
for cubes in range(20):
    cu = cubes**2
    cube.append(cu)

In [189]:
print(cube)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [190]:
cube = []
for i in range(10):
    cube.append(i)

In [191]:
print(cube)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [192]:
# Simple Statistics with a List of Numbers

In [193]:
num = list(range(100))

In [194]:
max(num)

99

In [195]:
min(num)

0

In [196]:
sum(num)

4950

In [197]:
# Slicing a List

In [198]:
# To make a slice, you specify the index of the first and last elements you want to work with

In [199]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players)

['charles', 'martina', 'michael', 'florence', 'eli']

In [200]:
print(players[0:3])

['charles', 'martina', 'michael']

In [201]:
print(players[1:4])

['martina', 'michael', 'florence']

In [202]:
# If you omit the first index in a slice, Python automatically starts your slice at the beginning of the list:

In [203]:
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [204]:
# A similar syntax works if you want a slice that includes the end of a list.

In [205]:
print(players[2:])

['michael', 'florence', 'eli']

In [206]:
# we want to output the last three players on the roster

In [207]:
print(players[-3])

michael

In [208]:
print(players[-3:])

['michael', 'florence', 'eli']

In [209]:
# Looping Through a Slice

In [210]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [211]:
# Copying a List

In [212]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

In [213]:
friend_foods

['pizza', 'falafel', 'carrot cake']

In [214]:
my_foods

['pizza', 'falafel', 'carrot cake']

In [215]:
my_foods.append('cannoli')
friend_foods.append('ice cream')

In [216]:
my_foods

['pizza', 'falafel', 'carrot cake', 'cannoli']

In [217]:
friend_foods

['pizza', 'falafel', 'carrot cake', 'ice cream']

In [218]:
name = ["hammad","sami","ebad","zia","mueed","mustafiz","usman"]

In [219]:
print(name)

['hammad', 'sami', 'ebad', 'zia', 'mueed', 'mustafiz', 'usman']

In [221]:
print(name[:3])

['hammad', 'sami', 'ebad']

In [223]:
print(name[2:5])

['ebad', 'zia', 'mueed']

In [224]:
print(name[4:])

['mueed', 'mustafiz', 'usman']

In [225]:
nume = name.copy()

In [226]:
name.append("ayaz")

In [227]:
name

['hammad', 'sami', 'ebad', 'zia', 'mueed', 'mustafiz', 'usman', 'ayaz']

In [228]:
nume.append("shafiq")

In [229]:
nume

['hammad', 'sami', 'ebad', 'zia', 'mueed', 'mustafiz', 'usman', 'shafiq']

In [233]:
for namee in name[:]:
    print(f"my fav person {namee}")

my fav person hammad
my fav person sami
my fav person ebad
my fav person zia
my fav person mueed
my fav person mustafiz
my fav person usman
my fav person ayaz

In [ ]:
for numee in nume[:]:
    print("")